{% import "macro/template.html" as macro_template %}
{% import "macro/pagination.html" as macro_page %}
{% import "macro/post-list.html" as macro_post_list %}
{% import "macro/content-links.html" as macro_content_links %}
{% import "macro/author-content.html" as macro_author_content %}
{% import "_macros.html" as macro %}

{% if page %}
    {% set doc = page %}    
{% elif section %}
    {% set doc = section %}    
{% endif %}
{# 如果当前页面是分类页面，则设置 html_type 为 page #}
{% if taxonomy %}
    {% set html_type = 'page' %}
{% else %}
    {# 对于没有page/section，只有config等变量的特殊页面，设置为page #}
    {% if not doc %}
        {% set html_type = 'page' %}
    {% else %}
        {% set html_type = doc.extra.type | default(value='post') %}
    {% endif %}
{% endif %}


<!DOCTYPE html>
{# <html lang="{{ lang }}"> #}
<html lang="zh-CN">

<head>
    {# head 中自定义的 #}
    {% block head %}
    {% endblock head %}
    {% include "partial/common/head.html" %}
    {% if config.extra.comments.system == "waline" and config.extra.comments.waline.serverURL  %}
        <link rel="stylesheet"
            href="{% if config.extra.comments.waline.walineCss %}{{ config.extra.comments.waline.walineCss }}{% else %}https://cdn.cbd.int/@waline/client@2.15.7/dist/waline.css{% endif %}">
    {% endif %}
    {# 解决 katex pjax问题 #}
    {% if config.extra.lib.katex %}
        <script defer src="/libs/katex/katex.min.js"></script>
    {% endif %}
    {# <script src='/js/custom.js'></script> #}
</head>

<body>

{# loading 页面 #}
{% include "partial/nav/loading-box.html" %}

{# 网站背景 #}
{% include "partial/widget/global-bg.html" %}

{# 背景音乐 #}
<div id="an_music_bg"></div>

<div class="{{ html_type }}" id="body-wrap" data-type="{{ html_type }}">
{# 自定义内容 #}
{% block content %}
{% endblock content %}
</div>

{# 侧边栏 #}
{% include "partial/common/sidebar.html" %}

{# 控制台 #}
{% include "partial/nav/console.html" %}

{# 左下角音乐 #}
{% include "partial/nav/nav-music.html" %}

{# 右侧浮操作按钮 #}
{% include "partial/widget/rightside.html" %}

{# 右键菜单 #}
{% include "partial/widget/right-menu.html" %}

<!-- https://davidshimjs.github.io/qrcodejs/ 生成文章二维码 -->
<script defer src="/libs/qrcode/qrcode.min.js" onload=""></script>
<!-- 图片查看器 -->
<script defer src='/libs/view-image/view-image.min.js'></script>
<!-- Tocbot 目录生成 start -->
{% include "partial/third-party/toc-bot.html" %}

<!-- 右下角通知 https://www.polonel.com/snackbar/ -->
<script async src="/libs/snackbar/snackbar.min.js"></script>

<!-- 评论 -->
{% if config.extra.comments.enable %}
    {{ macro_template::comment(widget=config.extra.comments.system) }}
    {% if config.extra.comments.visitor_mail.enable %}
        <script>var visitorMail = "{{ config.extra.comments.visitor_mail.mail }}";</script>
    {% endif %}
{% endif %}
<!-- 音乐 -->
    <script>var meting_api = "{{ config.extra.tool.nav_music.meting_api }}";</script>
<!-- 深色模式下添加粒子效果canvas -->
{% if config.extra.style.universe %}
    <canvas id="universe" width="1312" height="880"></canvas>
    <script defer src='/libs/canvas/dark.js'></script>
{% endif %}

<!--  https://raphamorim.io/waterfall.js/  应该是这个 还有相关的 js 代码 是否可以调整-->
<script src='/libs/waterfall/waterfall.min.js'></script>
<!-- 获取主色 https://lokeshdhakar.com/projects/color-thief/ -->
<script src='/libs/fast-average-color/index.browser.min.js'></script>

{# Pjax 部分加载 #}
<script>
    let pjaxSelectors = ['title', '#body-wrap', '#rightside-config-hide', '#rightside-config-show', '.js-pjax', '#site-config']
          
    pjaxSelectors.unshift('meta[property="og:type"]', 'meta[property="og:image"]', 'meta[property="og:title"]', 'meta[property="og:url"]', 'meta[property="og:description"]'
            , 'meta[name="twitter:title"]', 'meta[name="twitter:url"]', 'meta[name="twitter:description"]', 'meta[name="twitter:image"]', 'meta[name="description"]')
    
    var pjax = new Pjax({
        elements: 'a:not([target="_blank"])',
        selectors: pjaxSelectors,
        cacheBust: false,
        //debug: true,        
        analytics: false,
        scrollRestoration: false
    })
</script>

<!-- 右键菜单 -->
{% if config.extra.tool.right_menu.enable %}
    <script defer src='{{ macro::get_production_path(path="/js/rightmenu.js") }}'></script>
{% endif %}

<!-- 评论弹幕 -->
{% if (
    (config.extra.comments.twikoo.env_id ) or
    (config.extra.comments.artalk.server  and config.extra.comments.artalk.site_name ) or
    (config.extra.comments.system == 'waline' and config.extra.comments.waline.server_url )
) and config.extra.comments.barrage.enable and config.extra.comments.enable %}
<link rel="preload" as="style" href="{{ macro::get_production_path(path="/css/commentBarrage.css") }}" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="{{ macro::get_production_path(path="/css/commentBarrage.css") }}"></noscript>
<script defer src='{{ macro::get_production_path(path="/js/commentBarrage.js") }}'></script>
{% endif %}

{# 文章摘要 #}
<script data-pjax defer src="{{ macro::get_production_path(path="/js/abstract/" ~ config.extra.post.abstract.mode ~ ".js") }}"></script>

{# 延迟执行的不重要脚本 #}
<script data-pjax defer src='{{ macro::get_production_path(path="/js/bundle.js") }}'></script>
<script defer src="{{ macro::get_production_path(path="/js/tw_cn.js") }}"></script>

{% if config.extra.nav.right.search %}
    {% include "partial/nav/search-dialog.html" %}
    <script>
        var searchLibLoaded = false
        const searchFiles = [
        {% if config.extra.nav.right.search_engine == 'algolia' %}
            { type: 'css', path: '/libs/algolia/algoliasearchNetlify.css' },
            { type: 'js', path: '/libs/algolia/algoliasearchNetlify.js' },
            { type: 'js', path: '/libs/algolia/algoliasearch-lite.umd.js' },
        {% elif config.extra.nav.right.search_engine == 'meilisearch' %}
            { type: 'js', path: '/libs/meilisearch/instant-meilisearch.umd.min.js' },
        {% endif %}
            { type: 'js', path: '/libs/instantsearch/instantsearch-production.min-4.77.0.js' }
        ];
    </script>
    <link rel="preload" as="style" href="{{ macro::get_production_path(path="/css/algolia.css") }}" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{ macro::get_production_path(path="/css/algolia.css") }}"></noscript>
    <script defer src='{{ macro::get_production_path(path="/js/search.js") }}'></script>
{% endif %}

{# https://instant.page/ 网站预加载， 放在 </body> 之前 #}
<script defer src="/libs/instantpage/instantpage.min.js" type="module"></script>

<!-- 代码块自动识别语言 -->
{% include "partial/common/code.html" %}

{% if config.extra.site.analytics.umami.enable %}
{# 名称改为不易被屏蔽的，统计网站访问量 #}
<script defer src="{{ config.extra.site.analytics.umami.js }}" data-website-id="{{ config.extra.site.analytics.umami.id }}"
    {% if config.extra.site.analytics.umami.remote_url %}data-host-url="{{ config.extra.site.analytics.umami.remote_url | safe }}"{% endif %}
    {% if config.extra.site.analytics.umami.domain %}data-domains="{{ config.extra.site.analytics.umami.domain | safe }}"{% endif %}>
</script>
{% endif %}
</body>

</html>
