{% import "_macros.html" as macro %}
{% import "macro/template.html" as macro_template %}
{% import "macro/pagination.html" as macro_page %}

{% extends "page/base.html" %}

{% set doc = page | default(value=section) %}

{% block head %}
    {{ macro::head_meta(title = page.title, _permalink = page.path, excerpt = page.description | default(value= page.title ~ " | " ~ config.description), type = 'music.playlist') }}
    <script id="ld-json" type="application/ld+json"></script>
{% endblock %}

{% block content %}
    <!-- 头部导航栏 -->
    <header class="{% if config.extra.top.above.enable_above %}full_page{% else %}not-top-img{% endif %}" id="page-header">
        {{ macro::nav(title = "原创音乐") }}
    </header>

    <main class="layout hide-aside" id="content-inner">
        <div id="page">
            <div class="music-mask"></div>
            <h1 class="page-title">原创音乐</h1>
            <div id="anMusic-page">
                <div id="anMusic-page-meting">
                    {% if config.extra.tool.nav_music.enable %}
                        <meting-js 
                            id="{{ config.extra.tool.nav_music.id }}"
                            server="{{ config.extra.tool.nav_music.server }}"
                            type="playlist"
                            mutex="true"
                            preload="auto"
                            theme="var(--wjx-main)"
                            order="list"
                            list-max-height="calc(100vh - 169px)!important">
                        </meting-js>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <link rel="stylesheet" href="/libs/aplayer/music.css">
    {% include "partial/common/footer.html" %}
{% endblock %}



