{% import "_macros.html" as macro %}
{% import "macro/template.html" as macro_template %}
{% import "macro/pagination.html" as macro_page %}

{% extends "page/base.html" %}

{% block head %}
    {{ macro::head_meta(title = page.title, _permalink = page.path, excerpt = page.description | default(value= page.title ~ " | " ~ config.description), type = 'social') }}
    <script id="ld-json" type="application/ld+json"></script>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ macro::get_production_path(path="/css/wechat.css") }}">
<!-- 头部导航栏 -->
<header class="{% if config.extra.top.above.enable_above %}full_page{% else %}not-top-img{% endif %}" id="page-header">
    {{ macro::nav(title = config.title) }}
</header>
<div class="wechatOA" style="margin-top: 10%;">
    <div class="wechat">
      <div class="wechat-card">
        {{ macro::img_progressive_loading_single_size(src="/img/wechat/qr.jpg",class="qrcode", alt="qrcode") }}
        <div class="tips">扫描二维码关注公众号</div>
        <div class="wechatOA-card">
          <div class="wechatOA-head" style="background-image: url(/img/logo.webp);"></div>
          <div class="wechatOA-info">
            <div class="wechatOA-name">王嘉祥</div>
            <div class="wechatOA-description">跨界 无极限</div>
          </div>
        </div>
      </div>              
    </div>
    <a class="footer-item" rel="noopener noreferrer external" href="https://kf.qq.com/touch/wxappfaq/1208117b2mai141113jaqAnU.html?platform=14" title="帮助" target="_blank">不会扫码？</a>
</div>
{% endblock %}

