<div id="rightside">
    <div id="rightside-config-show">
        <button id="hide-aside-btn" type="button" title="單欄和雙欄切換"><i class="icon-arrows-left-right"></i></button>
        <button id="go-up" type="button" title="回到頂部"><i class="icon-arrow-up"></i></button>
    </div>
</div>

{% if not config.extra.tool.rightside.enable %}
    <style>
        #rightside {
            display: none;
        }
        .comment-barrage {
            right: 20px;
        }
        @media screen and (min-width: 1300px) {
            #post #pagination {
                right: 20px;
            }
        }
    </style>
{% endif %}

{% if config.extra.tool.rightside.readmode and config.extra.tool.rightside.enable %}
    <link rel="preload" as="style" href="{{ macro::get_production_path(path="/css/read-mode.css") }}" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{ macro::get_production_path(path="/css/read-mode.css") }}"></noscript>
{% endif %}
