<div id="rightside">
    <div id="rightside-config-hide">
    {% if page.extra['type'] %}
        {% set page_type = page.extra['type'] %}
        {% if page_type == 'index' %}
            {% set html_type = "index" %}
        {% elif page_type == 'page' %}
            {% set html_type = "page" %}
        {% elif page_type == 'post' %}
            {% set html_type = "post" %}
        {% else %}
            {% set html_type = "post" %}
        {% endif %}
    {% else %}
        {% set html_type = "index" %}
    {% endif %}
        {% if html_type == 'post' and config.extra.tool.rightside.readmode %}
            <button id="readmode" type="button" title="阅读模式"><i class="icon-book-open"></i></button>
        {% endif %}
        {% if config.extra.style.translate.enable %}
            <button id="translateLink" type="button" title="简繁转换">繁</button>
        {% endif %}
        <button id="darkmode" type="button" title="浅色和深色模式转换"><i class="icon-circle-half-stroke"></i></button>
        <button id="hide-aside-btn" type="button" title="单栏和双栏切换"><i class="icon-arrows-left-right"></i></button>
    </div>
    <div id="rightside-config-show">
        <button id="rightside-config" type="button" title="设置"><i class="icon-gear"></i></button>
        {% if html_type == 'post' %}
            <button class="close" id="mobile-toc-button" type="button" title="目录"><i class="icon-list-ul"></i></button>
        {% endif %}
        <a id="to_comment" href="#post-comment" title="直达评论" ><i class="icon-chat--fill" style="font-size: 17px;"></i></a>
        {% if config.extra.comments.barrage.commentBarrageEnable %}
            <button id="switch-commentBarrage" href="javascript:wjx.switchCommentBarrage();" title="开关弹幕" draggable="false"><i class="icon-danmu"></i></button>
        {% endif %}
        <button id="go-up" type="button" title="回到顶部"><i class="icon-arrow-up"></i></button>
    </div>
</div>

{% if not config.extra.tool.rightside.enable %}
    <style>
        #rightside {
            display: none;
        }
        .comment-barrage {
            right: 20px;
        }
        @media screen and (min-width: 1300px) {
            #post #pagination {
                right: 20px;
            }
        }
    </style>
{% endif %}

{% if config.extra.tool.rightside.readmode and config.extra.tool.rightside.enable %}
    <link rel="preload" as="style" href="{{ macro::get_production_path(path="/css/read-mode.css") }}" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="{{ macro::get_production_path(path="/css/read-mode.css") }}"></noscript>
{% endif %}