<!-- 性格&图片 -->

<!-- personalities -->
<div class="author-content">
    {% set mbti = config.extra.site.author.mbti %}
    <div class="author-content-item personalities">
        <div class="author-content-item-tips">MBTI 性格</div>
        {% if mbti == "dive" %}
            <span class="author-content-item-title">潛水者</span>
            <div class="title2" style="color: #4298b4;">DIVE</div>
            <div class="image"><img src="/img/mbti/dive.png" style="transform: rotateY(180deg);" loading="lazy" decoding="async">
            </div>
        {% endif %}
    </div>
    <div class="author-content-item myphoto">
        {{ macro::img_progressive_loading_single_size(src=config.extra.site.author.about_image, alt="照片") }}
    </div>
</div>
