{% if page %}
    {% set doc = page -%}
{% elif section %}
    {% set doc = section -%}
{% else %}
{% endif %}
{# 公共的 head 部分，可以定义部分 links,scripts,styles #}
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<meta content="telephone=no" name="format-detection" />
<meta content="var(--wjx-card-bg)" name="theme-color" />

<link rel="manifest" href="/manifest.json">

<link rel="icon" type="image/x-icon" href="{{ config.extra.site.logo }}">
<link rel="apple-touch-icon" href="{{ config.extra.site.logo }}">
<link rel="bookmark" href="{{ config.extra.site.logo }}">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ config.extra.site.logo }}">

<script src="/libs/jquery/jquery-3.7.1.min.js"></script>
<script src='/libs/pjax/pjax.min.js'></script>

<script src="{{ macro::get_production_path(path="/js/utils.js") }}"></script>

<link rel="stylesheet" href="{{ macro::get_production_path(path="/css/blog.css") }}" />

<link rel="stylesheet" href="{{ macro::get_production_path(path="/css/custom.css") }}" />

{% if config.extra.other.scrollbar_linear_gradient_enable %}
<style>
  *::-webkit-scrollbar-thumb {
    background-color: var(--wjx-main);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
</style>
{% endif %}

<!-- 右下角通知 -->
<link rel="preload" as="style" href="/libs/snackbar/snackbar.min.css" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript><link rel="stylesheet" href="/libs/snackbar/snackbar.min.css"></noscript>


<script>
  // Added non-passive event listener
  !function(e){"function"==typeof define&&define.amd?define(e):e()}(function(){var e,t=["scroll","wheel","touchstart","touchmove","touchenter","touchend","touchleave","mouseout","mouseleave","mouseup","mousedown","mousemove","mouseenter","mousewheel","mouseover"];if(function(){var e=!1;try{var t=Object.defineProperty({},"passive",{get:function(){e=!0}});window.addEventListener("test",null,t),window.removeEventListener("test",null,t)}catch(e){}return e}()){var n=EventTarget.prototype.addEventListener;e=n,EventTarget.prototype.addEventListener=function(n,o,r){var i,s="object"==typeof r&&null!==r,u=s?r.capture:r;(r=s?function(e){var t=Object.getOwnPropertyDescriptor(e,"passive");return t&&!0!==t.writable&&void 0===t.set?Object.assign({},e):e}(r):{}).passive=void 0!==(i=r.passive)?i:-1!==t.indexOf(n)&&!0,r.capture=void 0!==u&&u,e.call(this,n,o,r)},EventTarget.prototype.addEventListener._original=e}});
</script>

<script>
  ((win) => {
    win.saveToLocal = {
      set: function setWithExpiry(key, value, ttl) {
        if (ttl === 0) return;
        const now = new Date();
        const expiryDay = ttl * 86400000;
        const item = {
          value: value,
          expiry: now.getTime() + expiryDay,
        };
        localStorage.setItem(key, JSON.stringify(item));
      },

      get: function getWithExpiry(key) {
        const itemStr = localStorage.getItem(key);

        if (!itemStr) {
          return undefined;
        }
        const item = JSON.parse(itemStr);
        const now = new Date();

        if (now.getTime() > item.expiry) {
          localStorage.removeItem(key);
          return undefined;
        }
        return item.value;
      },
    };

    win.getScript = (url) =>
      new Promise((resolve, reject) => {
        const script = document.createElement("script");
        script.src = url;
        script.async = true;
        script.onerror = reject;
        script.onload = script.onreadystatechange = function () {
          const loadState = this.readyState;
          if (loadState && loadState !== "loaded" && loadState !== "complete")
            return;
          script.onload = script.onreadystatechange = null;
          resolve();
        };
        document.head.appendChild(script);
      });

    win.getCSS = (url, id = false) =>
      new Promise((resolve, reject) => {
        const link = document.createElement("link");
        link.rel = "stylesheet";
        link.href = url;
        if (id) link.id = id;
        link.onerror = reject;
        link.onload = link.onreadystatechange = function () {
          const loadState = this.readyState;
          if (loadState && loadState !== "loaded" && loadState !== "complete")
            return;
          link.onload = link.onreadystatechange = null;
          resolve();
        };
        document.head.appendChild(link);
      });

    win.activateDarkMode = function () {
      document.documentElement.setAttribute("data-theme", "dark");
      document.documentElement.classList.add("color-scheme-dark");
      wjx.initThemeColor();
    };
    win.activateLightMode = function () {
      document.documentElement.setAttribute("data-theme", "light");
      document.documentElement.classList.remove("color-scheme-dark");
      wjx.initThemeColor();
    };
    const t = saveToLocal.get("theme");

    const isDarkMode = window.matchMedia(
      "(prefers-color-scheme: dark)"
    ).matches;
    const isLightMode = window.matchMedia(
      "(prefers-color-scheme: light)"
    ).matches;
    const isNotSpecified = window.matchMedia(
      "(prefers-color-scheme: no-preference)"
    ).matches;
    const hasNoSupport = !isDarkMode && !isLightMode && !isNotSpecified;

    if (t === undefined) {
      if (isLightMode) activateLightMode();
      else if (isDarkMode) activateDarkMode();
      else if (isNotSpecified || hasNoSupport) {
        const now = new Date();
        const hour = now.getHours();
        const isNight = hour <= 6 || hour >= 18;
        isNight ? activateDarkMode() : activateLightMode();
      }
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addListener(function (e) {
          if (saveToLocal.get("theme") === undefined) {
            e.matches ? activateDarkMode() : activateLightMode();
          }
        });
    } else if (t === "light") activateLightMode();
    else activateDarkMode();

    if ("{{ config.extra.style.color_scheme }}" === "dark")
      activateDarkMode();
    else activateLightMode();

    const asideStatus = saveToLocal.get("aside-status");
    if (asideStatus !== undefined) {
      if (asideStatus === "hide") {
        document.documentElement.classList.add("hide-aside");
      } else {
        document.documentElement.classList.remove("hide-aside");
      }
    }
  })(window);
</script>

<!-- 动态加载条 -->
{% if config.extra.other.loading_box.progress_bar %}
  <script data-pace-options='{ "restartOnRequestAfter":false,"eventLag":false}' src="/libs/pace/pace.min.js"></script>
{% endif %}

<!-- 复制 https://githubfast.com/zenorocha/clipboard.js -->
<script defer src="/libs/clipboard/clipboard.min.js"></script>

{# 关于统计 #}
{% if "statistics-map" in config.extra.about.widget_list %}
  <script src="/libs/countup/countup.js"></script>
{% endif %}

{# icon图标 #}
<link rel="stylesheet" href="/icon/font.css" />

{# 加载全局变量 #}
{% include "_variables.html" %}

<style id="wjx-theme-styles">
  :root {
      --wjx-main: var(--wjx-theme)!important;
      --wjx-main-op: var(--wjx-theme-op)!important;
      --wjx-main-op-deep: var(--wjx-theme-op-deep)!important;
      --wjx-main-op-light: var(--wjx-theme-op-light)!important;
      --wjx-main-none: var(--wjx-theme-none)!important;
  }
</style>

<script>
  document.addEventListener('pjax:send', function () {
      // removeEventListener toc scroll
      window.removeEventListener('scroll', window.tocScrollFn);
      typeof preloader === 'object' && preloader.initLoading();
      
      if (window.aplayers) {
          for (let i = 0; i < window.aplayers.length; i++) {
              if (!window.aplayers[i].options.fixed) {
                  window.aplayers[i].destroy()
              }
          }
      }
      
      typeof typed === 'object' && typed.destroy();
      typeof window.initializationRegistry === 'object' && window.initializationRegistry.clear();
      
      //reset readmode
      const $bodyClassList = document.body.classList
      $bodyClassList.contains('read-mode') && $bodyClassList.remove('read-mode')
  })
  document.addEventListener('pjax:complete', function () {
      window.refreshFn();
      
      document.querySelectorAll('script[data-pjax]').forEach(item => {
                  const newScript = document.createElement('script')
                  const content = item.text || item.textContent || item.innerHTML || ""
                  Array.from(item.attributes).forEach(attr => newScript.setAttribute(attr.name, attr.value))
                  newScript.appendChild(document.createTextNode(content))
                  item.parentNode.replaceChild(newScript, item)
              }
      );

      typeof chatBtnFn === 'function' && chatBtnFn();
      typeof panguInit === 'function' && panguInit();
      
      // google analytics
      typeof gtag === 'function' && gtag('config', '', {
          'page_path': window.location.pathname
      });
      
      // baidu analytics
      typeof _hmt === 'object' && _hmt.push(['_trackPageview', window.location.pathname]);
      
      typeof loadMeting === 'function' && document.getElementsByClassName('aplayer').length && loadMeting();
      
      // Analytics
      if (false) {
          MtaH5.pgv()
      }
      
      // prismjs
      typeof Prism === 'object' && Prism.highlightAll();
      
      typeof preloader === 'object' && preloader.endLoading();
  })
  document.addEventListener('pjax:error', (e) => {
      if (e.request.status === 404 || e.request.status === 500) {
          window.location.href = e.request.responseURL;
      }
  })
</script>

<script data-pjax src="{{ macro::get_production_path(path="/js/main.js") }}"></script>

<!-- 初始化导航栏样式 -->
<script>
  let initTop = 0
  let isChatShow = true
  const innerHeight = window.innerHeight + 0
  window.addEventListener('scroll', btf.throttle(function (e) {
    const $rightside = document.getElementById('rightside')

    const $header = document.getElementById('page-header')
    const $cookies_window = document.getElementById('cookies-window')
    const isChatBtnHide = typeof chatBtnHide === 'function'
    const isChatBtnShow = typeof chatBtnShow === 'function'
  
    const currentTop = window.scrollY || document.documentElement.scrollTop
    // 找到滚动方向 true is down & false is up
    const isDown = currentTop > initTop
    initTop = currentTop
    if (currentTop > 0) {
        if (isDown) {
            if ($header.classList.contains('nav-visible')) $header.classList.remove('nav-visible')
            if (isChatBtnShow && isChatShow === true) {
                chatBtnHide()
                isChatShow = false
            }
        } else {
            if (!$header.classList.contains('nav-visible')) $header.classList.add('nav-visible')
            if (isChatBtnHide && isChatShow === false) {
                chatBtnShow()
                isChatShow = true
            }
        }
        $header.classList.add('nav-fixed')
        if($cookies_window!=null && $cookies_window!=''){
            $cookies_window.classList.add('cw-hide')
        }
        if ($rightside && window.getComputedStyle($rightside).getPropertyValue('opacity') === '0') {
            $rightside.style.cssText = 'opacity: 0.8; transform: translateX(-58px)'
        }
    } else {
        if (currentTop === 0) {
            $header.classList.remove('nav-fixed', 'nav-visible')
        }
        $rightside.style.cssText = "opacity: ''; transform: ''"
    }
    if (document.body.scrollHeight <= innerHeight) {
        $rightside.style.cssText = 'opacity: 0.8; transform: translateX(-58px)'
    }
  }, 200))
</script>

{# Clarity Analytics#}
{% if config.extra.site.analytics.clarity.enable and config.extra.site.analytics.clarity.id %}
<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "{{ config.extra.site.analytics.clarity.id }}");
</script>
{% endif %}
