<!-- 目录条 -->
<div id="category-bar">
    <div class="category-bar-items" id="category-bar-items">
        <div class="category-bar-item select" id="category-bar-home">
            {%- if lang == config.default_language -%}
                <a href="/">首頁</a>
            {%- else -%}
                <a href="/en/">Home</a>
            {%- endif -%}
        </div>

        {% for navCategory in config.extra.layout.navs.nav_category %}
            {% set categoryItems = config.extra.categories | filter(value="navCategory") %}
            {% for categoryItem in categoryItems %}
                <div class="category-bar-item" id="{{ categoryItem.name }}">
                    {%- if lang == config.default_language -%}
                        <a href="{{ categoryItem.permalink }}">{{ macro::category_name(category=categoryItem.name) }}</a>
                    {%- else -%}
                        <a href="/{{lang}}/{{ categoryItem.permalink }}">{{ macro::category_name(category=categoryItem.name) }}</a>
                    {%- endif -%}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {%- if lang == config.default_language -%}
        <a class="category-bar-more" href="/categories">更多</a>
    {%- else -%}
        <a class="category-bar-more" href="/en/categories">More</a>
    {%- endif -%}
</div>
