<!-- 目录条，这里使用和 category-bar 同样的 css -->
<div id="category-bar">
    <div class="category-bar-items" id="category-bar-items">
        <div class="category-bar-item select" id="category-bar-home">
            {%- if lang == config.default_language -%}
                <a href="/">首頁</a>
            {%- else -%}
                <a href="/en/">Home</a>
            {%- endif -%}
        </div>

        {% for customUrlItem in config.extra.layout.navs.nav_custom_url %}
            <div class="category-bar-item" id="{{ customUrlItem.title }}">
                <a href="{{ customUrlItem.url }}">{{ customUrlItem.title }}</a>
            </div>
        {% endfor %}
    </div>
    {%- if lang == config.default_language -%}
        <a class="category-bar-more" href="/custom">更多</a>
    {%- else -%}
        <a class="category-bar-more" href="/en/custom">More</a>
    {%- endif -%}
</div>
