<!-- 目录条，这里使用和 category-bar 同样的 css -->
{% if config.extra.layout.navs.navMore == 'categories' %}
    {%- if lang == config.default_language -%}
        <a class="category-bar-more" href="/categories">更多</a>
    {%- else -%}
        <a class="category-bar-more" href="/en/categories">More</a>
    {%- endif -%}
{% endif %}
{% if config.extra.layout.navs.navMore == 'tags' %}
    {%- if lang == config.default_language -%}
        <a class="category-bar-more" href="/tags">更多</a>
    {%- else -%}
        <a class="category-bar-more" href="/en/tags">More</a>
    {%- endif -%}
{% endif %}
{% if config.extra.layout.navs.navMore == 'customUrl' %}
    <a class="category-bar-more" href="{{ config.extra.layout.navs.navMoreCustomUrl }}">更多</a>
{% endif %}
