<!-- Copyright style 1 -->
{% if config.extra.post.copyrightsStyle == 'one' %}
    {% set post=page %}
    {% set document = page | default(value=section) -%} {% set lang = document.lang -%} 
    <div class="post-copyright">
        <div class="post-copyright__author_group">
            <a class="post-copyright__author_img" href="{{expected_root}}about">
                {{ macro::img_progressive_loading_single_size(src=config.extra.site.logo, class="post-copyright__author_img_back") }}
            </a>
            <div class="post-copyright__author_name">{{ config.title }}</div>
            <div class="post-copyright__author_desc">{{ config.description }}</div>
        </div>
        {% set copyrightUrl = post.extra.copyright_url | default(value='/copyright') %}
        {% set copyright_enable = config.extra.post.copyrights.enable | default(value=true) %}
        {% if copyright_enable %}
            <div class="post-copyright__notice">
                <span class="post-copyright-info">
                    {% if post.extra.reprint_url %}{{ config.extra.post.copyrights.reprintContent | safe }}{% else %}{{ config.extra.post.copyrights.content | safe }}{% endif %}
                </span>
            </div>
        {% endif %}
    </div>
    <div class="post-tools-right">
        <div class="tag_share">
            <div class="post-meta__tag-list">
            {% for tag_name in post.taxonomies | get(key='tags') %}
                {% set tag = get_taxonomy_term(kind='tags',term=tag_name,lang=lang) %}
                <a class="post-meta__tags" href="{{ tag.permalink }}">
                    <span class="tags-punctuation">{{ macro::tag_name(tag=tag.name) }}</span>
                    <span class="tagsPageCount">{{ tag.page_count }}</span>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ macro::get_production_path(path="/css/post-copyright-one.css") }}">
{% endif %}
