<!-- Copyright default -->
{% if config.extra.post.copyrightsStyle == 'default' %}
    {% set post=page %}
    {% set document = page | default(value=section) -%} {% set lang = document.lang -%} 
    <div class="post-copyright">
        <div class="post-copyright__author">
            <a class="post-copyright-title" href="#"><span>{{ post.title }}</span></a>
        </div>
        <div class="post-copyright__type">
            <button class="post-copyright-copybtn" onclick="rm.copyPageUrl()">
                <i class="icon-paste"></i>
            </button>
        </div>
        {% if copyright_enable %}
            <div class="post-copyright__notice">
                <span class="post-copyright-info">
                    {% if post.extra.reprint_url %}{{ config.extra.post.copyrights.reprintContent | safe }}{% else %}{{ config.extra.post.copyrights.content | safe }}{% endif %}
                </span>
            </div>
        {% endif %}
    </div>
    <link rel="stylesheet" href="{{ macro::get_production_path(path="/css/post-copyright.css") }}">
{% endif %}
