<!-- 版权样式一 -->
{% if config.extra.post.copyrightsStyle == 'one' %}
    {% set post=page %}
    {% set document = page | default(value=section) -%} {% set lang = document.lang -%} 
    <!-- 版权声明 -->
    <div class="post-copyright">
        <div class="post-copyright__author_group">
            <a class="post-copyright__author_img" href="/about">
                {{ macro::img_progressive_loading_single_size(src=config.extra.site.logo, class="post-copyright__author_img_back") }}
            </a>
            <div class="post-copyright__author_name">{{ config.title }}</div>
            <div class="post-copyright__author_desc">{{ config.description }}</div>
        </div>
        <div class="post-tools" id="post-tools">
            <div class="post-tools-left">
                <div class="rewardLeftButton">
                    {% if config.extra.about_reward.reward.enable_reward_wz %}
                        <div class="post-reward" onclick="AddRewardMask()">
                            <div class="reward-button button--animated" title="打赏作者">
                                <i class="icon-hand-heart-fill"></i> 打赏作者
                            </div>
                            <div class="reward-main">
                                <ul class="reward-all">
                                    <span class="reward-title">感谢你赐予我前进的力量</span>
                                    <ul class="reward-group">
                                        <li class="reward-item">
                                            <a href="{{ config.extra.about_reward.reward.wxPay }}" target="_blank">
                                                {{ macro::img_progressive_loading_single_size(src=config.extra.about_reward.reward.wxPay, alt="微信", class="post-qr-code-img") }}
                                            </a>
                                            <div class="post-qr-code-desc">微信</div>
                                        </li>
                                        <li class="reward-item">
                                            <a href="{{ config.extra.about_reward.reward.alipay }}" target="_blank">
                                                {{ macro::img_progressive_loading_single_size(src=config.extra.about_reward.reward.alipay, alt="支付宝", class="post-qr-code-img") }}
                                            </a>
                                            <div class="post-qr-code-desc">支付宝</div>
                                        </li>
                                    </ul>
                                    <a class="reward-main-btn" href="{{ config.extra.about_reward.reward.reward_md_url }}" target="_blank">
                                        <div class="reward-text">赞赏者名单</div>
                                        <div class="reward-dec">因为你们的支持让我意识到写文章的价值🙏</div>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="reward-link mode">
                        <a class="reward-link-button" href="/subscribe">
                            <i class="icon-plant-fill"></i>订阅
                        </a>
                    </div>
                </div>
                <div class="shareRight">
                    {% if config.extra.post.share_right.mobile_edit %}
                        <div class="copyright-link mobile">
                            <div class="copyright-qrcode">
                                <div class="copyright-button" title="使用手机访问这篇文章">
                                    <i class="icon-qrcode"></i>
                                </div>
                                <div class="copyright-main">
                                    <div class="copyright-main-all">
                                        <div id="qrcode"></div>
                                        <div class="reward-dec">使用手机访问这篇文章</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if config.extra.post.share_right.weibo_edit %}
                        <div class="copyright-link weibo">
                            <a class="copyright-button" rel="noopener external nofollow noreferrer" target="_blank"
                               href="https://service.weibo.com/share/share.php?title={{ post.spec.title }}" title="分享到微博">
                                <i class="icon-weibo" style="font-size:22px"></i>
                            </a>
                        </div>
                    {% endif %}
                    {% if config.extra.post.share_right.copyurl_edit %}
                        <div class="copyright-link copyurl">
                            <div class="copyright-button" id="post-share-url" onclick="rm.copyPageUrl()" title="复制链接">
                                <i class="icon-link"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if post.extra.reprint_url %}
            {% set is_original = false %}
        {% else %}
            {% set is_original = true %}
        {% endif %}
        {% set copyrightUrl = post.extra.copyright_url | default(value='/copyright') %}
        {% set copyright_enable = config.extra.post.copyrights.enable | default(value=true) %}
        {% if copyright_enable %}
            <div class="post-copyright__notice">
                <span class="post-copyright-info">
                    {% if not is_original %}{{ config.extra.post.copyrights.reprintContent | safe }}{% else %}{{ config.extra.post.copyrights.content | safe }}{% endif %}
                </span>
            </div>
        {% endif %}
    </div>
    <div class="post-tools-right">
        <div class="tag_share">
            <div class="post-meta__tag-list">
            {% for tag_name in post.taxonomies | get(key='tags') %}
                {% set tag = get_taxonomy_term(kind='tags',term=tag_name,lang=lang) %}
                <a class="post-meta__tags" href="{{ tag.permalink }}">
                    <span class="tags-punctuation">{{ macro::tag_name(tag=tag.name) }}</span>
                    <span class="tagsPageCount">{{ tag.page_count }}</span>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ macro::get_production_path(path="/css/post-copyright-one.css") }}">
{% endif %}
