<!-- 导航栏菜单栏 -->
<div id="nav-right">
    <div class="nav-button" id="randomPost_button">
        <button class="site-page nav-item" href="javascript:void(0);"
            {%- if lang == config.default_language -%}
               onclick="window.open('/en/')"
               title="English"
            {%- else -%}
               onclick="window.open('/')"
               title="中文"
            {%- endif -%}
            >
            <i class="nav-icon icon-language"></i>
        </button>
    </div>

    <!-- 功能都需要添加开关 -->
    {% if config.extra.nav.right.article %}
    <div class="nav-button" id="randomPost_button">
        <button class="site-page nav-item" href="javascript:void(0);" onclick="toRandomPost()"
            {%- if lang == config.default_language -%}
               title="随機文章"
            {%- else -%}
               title="Random Articles"
            {%- endif -%}
            >
            <i class="nav-icon icon-dice"></i>
        </button>
    </div>
    {% endif %}

    <!-- 切换模式 -->
    {% if config.extra.nav.right.dark_mode %}
    <div class="nav-button" id="darkmode_button">
        <button class="site-page console_switchbutton nav-item" href="javascript:void(0);"  onclick="navFn.switchDarkMode();"
            {%- if lang == config.default_language -%}
               title="深色模式切換"
            {%- else -%}
               title="Dark Mode Toggle"
            {%- endif -%}
            >
            <i class="nav-icon icon-moon-clear-fill" style="font-size: 1rem;"></i>
        </button>
    </div>
    {% endif %}

    {% if config.extra.nav.right.console_enable %}
    <div class="nav-button" id="nav-console">
        <button class="site-page console_switchbutton nav-item" href="javascript:void(0);" onclick="wjx.showConsole()"
            {%- if lang == config.default_language -%}
               title="顯示控制面版"
            {%- else -%}
               title="Show Console"
            {%- endif -%}
            >
            <i class="nav-icon icon-dashboard"></i>
        </button>
    </div>
    {% endif %}

    <div class="nav-button" id="nav-totop" onclick="btf.scrollToDest(0,500)">
        <button class="totopbtn nav-item">
            <i class="nav-icon icon-arrow-up" style="font-size: 1rem;"></i><span id="percent">0</span>
        </button>
    </div>

    <div id="toggle-menu">
        <button class="site-page nav-item">
            <i class="nav-icon icon-bars"></i>
        </button>
    </div>
</div>
