<div class="rss-plan-list">
  <a class="rss-plan-item rss-plan-wechat" href="/wechat/" title="公众号" target="_blank">
    <div class="rss-plan-description">推送精选文章<br />推送全文</div>
    <div class="rss-plan-info-group">
      <div class="rss-plan-title">公众号订阅</div>
      <div class="rss-plan-info">推荐的订阅方式</div>
      <img class="rss-plan-icon no-lightbox" src="/img/wechat.svg" alt="WeChat" loading="lazy" decoding="async"/>
    </div>
  </a>
  <a class="rss-plan-item rss-plan-mail" href="https://app.follow.is/share/feeds/89889813571729408"
    rel="external nofollow" title="Follow 订阅" target="_blank">
    <div class="rss-plan-description">推送全部文章<br />推送封面与简介</div>
    <div class="rss-plan-info-group">
      <div class="rss-plan-title">Follow 订阅</div>
      <div class="rss-plan-info">推荐的订阅方式</div>
      <img class="rss-plan-icon no-lightbox" src="/img/mail.svg" alt="Mail" loading="lazy" decoding="async"/>
    </div>
  </a>
  <a class="rss-plan-item rss-plan-rss" href="/rss.xml" title="rss" target="_blank">
    <div class="rss-plan-description">推送全部文章<br />推送简介</div>
    <div class="rss-plan-info-group">
      <div class="rss-plan-title">RSS</div>
      <div class="rss-plan-info">备用订阅方式</div>
      <img class="rss-plan-icon no-lightbox" src="/img/rss.svg" alt="RSS" loading="lazy" decoding="async"/>
    </div>
  </a>
</div>

<style>
  .rss-plan-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -4px;
    position: relative;
  }

  @media screen and (max-width: 768px) {
    .rss-plan-list {
      padding: 10px;
    }
  }

  .rss-plan-icon {
    z-index: -1;
  }
</style>