<style type="text/css">
    [data-theme=light] {
        --wjx-theme: {{config.extra.style.theme_light_skin}} !important;
        --wjx-theme-op: {{config.extra.style.theme_light_skin}}23 !important;
        --wjx-theme-op-deep: {{config.extra.style.theme_light_skin}}dd !important;
        --wjx-theme-none: {{config.extra.style.theme_light_skin}}00 !important;
    }

    [data-theme=dark] {
        --wjx-theme: {{config.extra.style.theme_dark_skin}} !important;
        --wjx-theme-op: {{config.extra.style.theme_dark_skin}}23 !important;
        --wjx-theme-op-deep: {{config.extra.style.theme_dark_skin}}dd !important;
        --wjx-theme-none: {{config.extra.style.theme_dark_skin}}00 !important;
    }

    :root {
        --halo-comment-widget-component-card-bg: var(--wjx-card-bg);
        --halo-comment-widget-component-theme-op: var(--wjx-theme-op);
        --halo-comment-widget-component-card-border: var(--wjx-card-border);
        --halo-comment-widget-component-shadow-border: var(--wjx-shadow-border);
        --halo-comment-widget-component-secondtext: var(--wjx-secondtext);
        --halo-comment-widget-component-lighttext: var(--wjx-lighttext);
        --halo-comment-widget-component-secondbg: var(--wjx-secondbg);
        --halo-comment-widget-component-fontcolor: var(--wjx-fontcolor);
        --halo-comment-widget-component-main: var(--wjx-main);
        --halo-comment-widget-component-background: var(--wjx-background);
        --halo-comment-widget-component-white: var(--wjx-white);
        --halo-comment-widget-component-shadow-black: var(--wjx-shadow-black);
    }
    #page {
        --halo-comment-widget-component-padding: 1rem;
    }

    .color-scheme-dark,.dark,[data-color-scheme=dark] {
        --halo-search-widget-color-modal-layer: var(--wjx-maskbgdeep);
        --halo-search-widget-color-modal-content-bg: var(--wjx-card-bg);
        --halo-search-widget-color-form-input: rgb(255 255 255 / 79.9%);
        --halo-search-widget-color-form-input-placeholder: #6b7280d9;
        --halo-search-widget-color-form-input-bg: var(--wjx-card-bg);
        --halo-search-widget-color-form-divider: #bbbbbb0f;
        --halo-search-widget-color-result-item-bg: var(--wjx-card-bg);
        --halo-search-widget-color-result-item-hover-bg: #90939914;
        --halo-search-widget-color-result-item-title: rgb(255 255 255 / 79.9%);
        --halo-search-widget-color-result-item-content: #ffffff82;
        --halo-search-widget-color-command-kbd-item: #c0c4ccb3;
        --halo-search-widget-color-command-kbd-border: #bbbbbb0f;
        --halo-search-widget-color-result-empty: #6b7280d9
    }

    [data-theme=light] {
        --halo-search-widget-color-result-item-title : #4B5563
    }

    {% if not config.extra.post.opacity %}
    #aside-content #card-toc .toc-content a.toc-link:not(.active) {
        opacity: 1;
        filter: blur(0px);
    }
    {% endif %}
</style>

<!-- 声明一些公共信息 -->
<script id="site-config">
    var GLOBAL_CONFIG = {
        {% if page %}
            {% set doc = page %}    
        {% elif section %}
            {% set doc = section %}    
        {% endif %}
        {% set html_type = doc.extra.type | default(value='post') %}
        {% set title = doc.title | default(value=config.title) %}
        {# 页面类型 index,page,post,tag,category #}
        lang: "{{lang}}",
        htmlType: "{{ html_type }}",
        postTitle: "{{ title }}",
        isPost: {{ html_type == 'post' }},
        isHome: {{ html_type == 'index' }},
        passageTip: {
            enable: {{ config.extra.post.passage_tip.enable }},
            day: {{ config.extra.post.passage_tip.day }},
        },
        copyright: {
            enable: {{ config.extra.post.copyrights.copy_info }},
            limitCount: 10,
            languages: {
                author: " 作者：{{ config.author }}",
                link: " 連結：",
                source: " 來源：{{ config.title }}",
                info: " 著作權為作者所有，非商業轉載請註明出處。"
            }
        },
        lightbox: 'fancybox',
        rightMenuEnable: {{ config.extra.tool.right_menu.enable }},
        lazyload: {
            enable: {{ config.extra.other.lazyload.enable }},
            error: "{{ config.extra.other.lazyload.error_img | safe }}"
        },
        umamiTrackExternalLink: {{ config.extra.site.analytics.umami.track_external_link }},
        isFriendLinksInFooter: {{ config.extra.footer.footer_group.enable }},
        loadingBox: {{ config.extra.other.loading_box.enable }},
        progress_bar: {{ config.extra.other.loading_box.progress_bar }},
        helloText: {{ config.extra.about.author_info_left_tags | concat(with=config.extra.about.author_info_right_tags) | json_encode | safe }},
        profileStyle: "{{ config.extra.sidebar.profile.profile_style }}",
        enable: {{ config.extra.tool.right_menu.enable }},
        keyboard: {{ config.extra.tool.keyboard }},
        date_suffix: 
        {%- if lang  == 'zh-Hant' -%}
        {
            just: '剛剛',
            min: '分鐘前',
            hour: '小時前',
            day: '天前',
            month: '個月前'
        },
        {%- else -%}
        {
            just: 'just',
            min: 'minnutes before',
            hour: 'hours before',
            day: 'day before',
            month: 'month before'
        },
        {%- endif -%}
        Snackbar: {
            day_to_night: 
            {%- if lang  == 'zh-Hant' -%}
                "切換為深色模式",
            {%- else -%}
                "Dark Mode On",
            {%- endif -%}
            night_to_day: 
            {%- if lang  == 'zh-Hant' -%}
                "切換為淺色模式",
            {%- else -%}
                "Light Mode On",
            {%- endif -%}
            bgLight: "{{ config.extra.style.theme_light_skin }}",
            bgDark: "{{ config.extra.style.theme_dark_skin }}",
            position: "top-center"
        },
        source: {
            power: {
                powerLink: "{{ config.extra.sidebar.power.powerLink | safe }}",
                showNum: {{ config.extra.sidebar.power.showNum }}
            },
            links: {
                linksUrl: "{{ config.extra.friend.links_url | safe }}",
                linksNum: {{ config.extra.footer.footer_group.num }}
            },
            jQuery: '/libs/jquery/jquery.min.js',
            justifiedGallery: {
                js: '/libs/justified-gallery/fjGallery.min.js',
                css: '/libs/justified-gallery/fjGallery.css'
            },
            fancybox: {
                js: '/libs/fancybox/jquery.fancybox.min.js',
                css: '/null'
            },
            post: {
                dynamicBackground: {{ config.extra.post.dynamicBackground }}
            },
            postAi: {
            },
            footer: {
                default_enable: {{ config.extra.footer.enable }}
            },
        }
    };
</script>
