<style type="text/css">
    [data-theme=light] {
        --wjx-theme: {{config.extra.style.theme_light_skin}} !important;
        --wjx-theme-op: {{config.extra.style.theme_light_skin}}23 !important;
        --wjx-theme-op-deep: {{config.extra.style.theme_light_skin}}dd !important;
        --wjx-theme-none: {{config.extra.style.theme_light_skin}}00 !important;
    }

    [data-theme=dark] {
        --wjx-theme: {{config.extra.style.theme_dark_skin}} !important;
        --wjx-theme-op: {{config.extra.style.theme_dark_skin}}23 !important;
        --wjx-theme-op-deep: {{config.extra.style.theme_dark_skin}}dd !important;
        --wjx-theme-none: {{config.extra.style.theme_dark_skin}}00 !important;
    }

    :root {
        --halo-comment-widget-component-card-bg: var(--wjx-card-bg);
        --halo-comment-widget-component-theme-op: var(--wjx-theme-op);
        --halo-comment-widget-component-card-border: var(--wjx-card-border);
        --halo-comment-widget-component-shadow-border: var(--wjx-shadow-border);
        --halo-comment-widget-component-secondtext: var(--wjx-secondtext);
        --halo-comment-widget-component-lighttext: var(--wjx-lighttext);
        --halo-comment-widget-component-secondbg: var(--wjx-secondbg);
        --halo-comment-widget-component-fontcolor: var(--wjx-fontcolor);
        --halo-comment-widget-component-main: var(--wjx-main);
        --halo-comment-widget-component-background: var(--wjx-background);
        --halo-comment-widget-component-white: var(--wjx-white);
        --halo-comment-widget-component-shadow-black: var(--wjx-shadow-black);
    }
    #page {
        --halo-comment-widget-component-padding: 1rem;
    }

    .color-scheme-dark,.dark,[data-color-scheme=dark] {
        --halo-search-widget-color-modal-layer: var(--wjx-maskbgdeep);
        --halo-search-widget-color-modal-content-bg: var(--wjx-card-bg);
        --halo-search-widget-color-form-input: rgb(255 255 255 / 79.9%);
        --halo-search-widget-color-form-input-placeholder: #6b7280d9;
        --halo-search-widget-color-form-input-bg: var(--wjx-card-bg);
        --halo-search-widget-color-form-divider: #bbbbbb0f;
        --halo-search-widget-color-result-item-bg: var(--wjx-card-bg);
        --halo-search-widget-color-result-item-hover-bg: #90939914;
        --halo-search-widget-color-result-item-title: rgb(255 255 255 / 79.9%);
        --halo-search-widget-color-result-item-content: #ffffff82;
        --halo-search-widget-color-command-kbd-item: #c0c4ccb3;
        --halo-search-widget-color-command-kbd-border: #bbbbbb0f;
        --halo-search-widget-color-result-empty: #6b7280d9
    }

    [data-theme=light] {
        --halo-search-widget-color-result-item-title : #4B5563
    }

    {% if not config.extra.post.opacity %}
    #aside-content #card-toc .toc-content a.toc-link:not(.active) {
        opacity: 1;
        filter: blur(0px);
    }
    {% endif %}
</style>

<!-- 声明一些公共信息 -->
<script id="site-config">
    var GLOBAL_CONFIG = {
        {% if page %}
            {% set doc = page %}    
        {% elif section %}
            {% set doc = section %}    
        {% endif %}
        {% set html_type = doc.extra.type | default(value='post') %}
        {% set title = doc.title | default(value=config.title) %}
        {# 页面类型 index,page,post,tag,category #}
        htmlType: "{{ html_type }}",
        postTitle: "{{ title }}",
        isPost: {{ html_type == 'post' }},
        isHome: {{ html_type == 'index' }},
        passageTip: {
            enable: {{ config.extra.post.passage_tip.enable }},
            day: {{ config.extra.post.passage_tip.day }},
        },
        copyright: {
            enable: {{ config.extra.post.copyrights.copy_info }},
            limitCount: 10,
            languages: {
                author: " 作者：{{ config.author }}",
                link: " 链接：",
                source: " 来源：{{ config.title }}",
                info: " 提示：著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处并保留原文链接。"
            }
        },
        lightbox: 'fancybox',
        rightMenuEnable: {{ config.extra.tool.right_menu.enable }},
        lazyload: {
            enable: {{ config.extra.other.lazyload.enable }},
            error: "{{ config.extra.other.lazyload.error_img | safe }}"
        },
        umamiTrackExternalLink: {{ config.extra.site.analytics.umami.track_external_link }},
        isFriendLinksInFooter: {{ config.extra.footer.footer_group.enable }},
        loadingBox: {{ config.extra.other.loading_box.enable }},
        progress_bar: {{ config.extra.other.loading_box.progress_bar }},
        navMusicEnable: {{ config.extra.tool.nav_music.enable }},
        isMusic: {{ html_type == 'music' }},
        helloText: {{ config.extra.about.author_info_left_tags | concat(with=config.extra.about.author_info_right_tags) | json_encode | safe }},
        profileStyle: "{{ config.extra.sidebar.profile.profile_style }}",
        enable: {{ config.extra.tool.right_menu.enable }},
        keyboard: {{ config.extra.tool.keyboard }},
        date_suffix: {
            just: '刚刚',
            min: '分钟前',
            hour: '小时前',
            day: '天前',
            month: '个月前'
        },
        Snackbar: {
            chs_to_cht: "你已切换为繁体",
            cht_to_chs: "你已切换为简体",
            day_to_night: "你已切换为深色模式",
            night_to_day: "你已切换为浅色模式",
            bgLight: "{{ config.extra.style.theme_light_skin }}",
            bgDark: "{{ config.extra.style.theme_dark_skin }}",
            position: "top-center"
        },
        translate: {
            defaultEncoding: "{{ config.extra.style.translate.default_encoding }}",
            translateDelay: 0,
            msgToTraditionalChinese: "繁",
            msgToSimplifiedChinese: "简",
            rightMenuMsgToTraditionalChinese: "轉為繁體",
            rightMenuMsgToSimplifiedChinese: "转为简体"
        },
        prism: {
            enable: {{ config.extra.code.enable }},
            enable_title: {{ config.extra.code.enable_title }},
            enable_hr: {{ config.extra.code.enable_hr }},
            enable_line: {{ config.extra.code.enable_line }},
            enable_copy: {{ config.extra.code.enable_copy }},
            enable_expander: {{ config.extra.code.enable_expander }},
            prism_limit: {{ config.extra.code.height_limit | default(value=300) + 30 }},
            enable_height_limit: {{ config.extra.code.enable_height_limit }}
        },
        {% if config.extra.nav.right.search %}
        search: {
            engine: "{{ config.extra.nav.right.search_engine }}",
            {% if config.extra.nav.right.search_engine == 'algolia' %}
            algolia: {
                appId: "{{ config.extra.search.algolia.app_id }}",
                apiKey: "{{ config.extra.search.algolia.app_key }}",
                indexName: "{{ config.extra.search.algolia.index_name }}",
            },
            {% elif config.extra.nav.right.search_engine == 'meilisearch' %}
            meilisearch: {
                host: "{{ config.extra.search.meilisearch.host | safe}}",
                apiKey: "{{ config.extra.search.meilisearch.key }}",
                indexName: "{{ config.extra.search.meilisearch.index_name }}",
            },
            {% endif %}
            hits:{
                per_page: 6
            },
            languages:{
                input_placeholder:"输入关键词后按下回车查找",
                hits_empty:"找不到您查询的内容：${query}",
                hits_stats:"找到 ${hits} 条结果，用时 ${time} 毫秒"
            }
        },
        {% endif %}
        source: {
            power: {
                powerLink: "{{ config.extra.sidebar.power.powerLink | safe }}",
                showNum: {{ config.extra.sidebar.power.showNum }}
            },
            links: {
                linksUrl: "{{ config.extra.friend.links_url | safe }}",
                linksNum: {{ config.extra.footer.footer_group.num }}
            },
            jQuery: '/libs/jquery/jquery.min.js',
            justifiedGallery: {
                js: '/libs/justified-gallery/fjGallery.min.js',
                css: '/libs/justified-gallery/fjGallery.css'
            },
            fancybox: {
                js: '/libs/fancybox/jquery.fancybox.min.js',
                css: '/null'
            },
            comments: {
                use: "{{ config.extra.comments.system }}",
                maxBarrage: {{ config.extra.comments.barrage.max_barrage }},
                barrageTime: {{ config.extra.comments.barrage.barrage_time }},
                mailMd5: "{{ config.extra.comments.barrage.mail_md5 }}",
                lazyload: {{ config.extra.comments.lazy_load }},
                textarea: "{% if config.extra.comments.system == 'twikoo' %}el-textarea__inner{% elif config.extra.comments.system == 'artalk' %}atk-textarea{% elif config.extra.comments.system == 'waline' %}wl-editor{% else %}appearance-none{% endif %}"
            },
            post: {
                dynamicBackground: {{ config.extra.post.dynamicBackground }}
            },
            tool: {
                switch: {{ config.extra.tool.snackbar.switch }}
            },
            postAi: {
                {% if config.extra.post.abstract.mode != "local" %}
                switchBtn: {{ config.extra.post.abstract.switch_btn }},
                keys: "{{ config.extra.post.abstract.key }}",
                btnLink: "{{ config.extra.post.abstract.btn_link | safe }}",
                Referers: "{{ config.extra.post.abstract.referers | safe }}",
                basicWordCount: {{ config.extra.post.abstract.basic_word_count }},
                randomNum: {{ config.extra.post.abstract.random_num }},
                {% endif %}
                gptName: "{{ config.extra.post.abstract.gpt_name }}",
                modeName: "{{ config.extra.post.abstract.mode }}"
            },
            {%- if config.extra.comments.system == 'twikoo' -%}
            twikoo: {
                js: "{% if config.extra.comments.twikoo.js %}{{ config.extra.comments.twikoo.js }}{% else %}/libs/twikoo/twikoo.all.min.js{% endif %}",
                twikooUrl: "{{ config.extra.comments.twikoo.env_id | safe }}",
            },
            {% endif %}
            {%- if config.extra.comments.system == 'artalk' -%}
            artalk: {
                js: "{% if config.extra.comments.artalk.artalk_js %}{{ config.extra.comments.artalk.artalk_js | safe }}{% else %}/libs/artalk/Artalk.js{% endif %}",
                css: "{% if config.extra.comments.artalk.artalk_css %}{{ config.extra.comments.artalk.artalk_css | safe }}{% else %}/libs/artalk/Artalk.css{% endif %}",
                artalkUrl: "{{ config.extra.comments.artalk.server | safe }}",
                siteName: "{{ config.extra.comments.artalk.site_name }}"
            },
            {%- endif -%}
            {%- if config.extra.comments.system == 'waline' -%}
            waline: {
                js: "{% if config.extra.comments.waline.waline_js %}{{ config.extra.comments.waline.waline_js }}{% else %}https://cdn.cbd.int/@waline/client@2.15.7/dist/waline.js{% endif %}",
                serverURL: "{{ config.extra.comments.waline.server_url }}",
                locale: "{% if config.extra.comments.waline.locale %}{{ config.extra.comments.waline.locale }}{% else %}{% endif %}"
            },
            {%- endif -%}
            footer: {
                default_enable: {{ config.extra.footer.enable }}
            },
            about: {
                {# rewardList: "{{ config.extra.about_reward.sponsors | json_encode | safe }}", #}
                rewardList: [],
                rewardAmount: {{ config.extra.about_reward.reward_number }}
            }
        }
    };
</script>