<!-- 推荐文章 -->
{% set data = load_data(path="data.toml") %}
<div class="topGroup" id="topGroup">
    <div class="recent-post-group">
        {% if config.extra.top.banner_right.recommend_post.type == "latest" %}
            {% set section = get_section(path="articles/_index.md", metadata_only=false) %}
            {% set posts = section.pages | slice(start=0, end=6) | sort(attribute="date") | reverse %}        
        {% else %}
            {% set posts = [] %}
            {% for post_url in data.post.recommend_posts %}
                {% set_global posts = posts | concat(with=get_page(path=post_url)) %}
            {% endfor %}
        {% endif %}
        {% for post in posts  %}
            {% if loop.index <= 6 %}
            <div class="recent-post-item">
                <div class="post_cover {% if loop.index0 % 2 == 0 %}left_radius{% else %}right_radius{% endif %}">
                    <a href="{{ post.permalink }}" title="{{ post.title }}" >
                        <span class="recent-post-top-text" onclick="pjax.loadUrl('{{ post.permalink }}')">荐</span>  
                        {{ macro::img_progressive_loading_post_cover(post=post, class="post_bg") }}
                    </a>
                </div>
                <div class="recent-post-info">
                    <a class="article-title" href="{{ post.permalink }}" title="{{ post.title }}" >
                        {{ post.title }}
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- 今日推荐 -->
    {% if config.extra.top.banner_right.today_recommend.enable %}
        {% if data.post.today_recommend.post_path %}
            {% set post = get_page(path=data.post.today_recommend.post_path ) %}
            {% set url = post.permalink %}
            {# 便于从 content 文件夹提取封面 #}
            {% set cover = macro::post_cover(post=post) %}
            {% set title = post.title %}
        {% else %}
            {% set url = data.post.today_recommend.url %}
            {% set cover = data.post.today_recommend.cover %}
            {% set title = data.post.today_recommend.title %}
        {% endif %}

        <div class="todayCard" id="todayCard" onclick="javascript:pjax.loadUrl('{{ url }}')">
            <div class="todayCard-info">
                <div class="todayCard-tips">{{ data.post.today_recommend.small_title }}</div>
                <div class="todayCard-title">{{ title }}</div>
            </div>
            {{ macro::img_progressive_loading(src=cover, alt="Daily recommended post cover", class="todayCard-cover") }}
            <div class="banner-button-group">
                <button class="banner-button" onclick="window.event.cancelBubble=!0;wjx.hideTodayCard()">
                    <i class="icon-circle-plus"></i>
                    <span class="banner-button-text">更多推荐</span>
                </button>
            </div>
        </div>
    {% endif %}
</div>