{% import "_macros.html" as macro %}
 {# 同分类文章推荐 #}

{% set category =page.taxonomies.categories | first %}

{% set posts = get_taxonomy_term(kind="categories", term=category)  %}
{% set posts = posts.pages  %}

{% if posts and posts | length > 1 %}
    {% set recommendQuantity = config.extra.post.recommendQuantity %}
    {% if recommendQuantity == 'six' %}
        {% set count = 7 %}
    {% elif recommendQuantity == 'two' %}
        {% set count = 3 %}
    {% else %}
        {% set count = 1 %}
    {% endif %}
    {% set containsTitle = page in posts %}

    {% if posts | length > 1 %}
        <div class="relatedPosts">
            <div class="headline">
                <i class="icon-cainixihuan" style="font-size: 1.1rem;"></i>
                <span>喜欢这篇文章的人也看了</span>
            </div>
            {% if recommendQuantity == 'six' %}
                <div class="relatedPosts-list">
                    {% set index = 1 %}
                    {% for post in posts | slice(end=count) %}
                        {% if index <= 6 %}
                            {% if not page.title == post.title %}
                            <div>
                                <a href="{{ post.permalink }}" title="{{ post.title }}">
                                    {{ macro::img_progressive_loading_post_cover(post=post, id="preimg", class="cover") }}
                                    <div class="content is-center">
                                        <div class="date" style="color: white">
                                            <i class="far fa-calendar-alt fa-fw"></i>
                                            {{ post.date | date(format="%Y-%m-%d") }}
                                        </div>
                                        <div class="title" style="color: white">{{ post.title }}</div>
                                    </div>
                                </a>
                            </div>
                            {% set_global index = index + 1 %}                   
                            {% endif %}
                        {% endif %}   
                    {% endfor %}
                </div>
            {% endif %}
            {% if recommendQuantity == 'two' %}
                <div class="relatedPosts-list">
                    {% set index = 1 %}
                    {% for post in posts | slice(end=count) %}
                        {% if index <= 2 %}
                            {% if not page.title == post.title %}
                            <div>
                                <a href="{{ post.permalink }}" title="{{ post.title }}">
                                    {{ macro::img_progressive_loading_post_cover(post=post, class="cover") }}
                                    <div class="content is-center">
                                        <div class="date">
                                            <i class="far fa-calendar-alt fa-fw"></i>
                                            {{ post.date | date(format="%Y-%m-%d") }}
                                        </div>
                                        <div class="title">{{ post.title }}</div>
                                    </div>
                                </a>
                            </div>
                            {% set_global index = index + 1 %}                   
                            {% endif %}
                        {% endif %}   
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if recommendQuantity == 'six' %}
            <link rel="stylesheet" href="{{ macro::get_production_path(path="/css/related-posts-six.css") }}">
        {% endif %}
        {% if recommendQuantity == 'two' %}
            <link rel="stylesheet" href="{{ macro::get_production_path(path="/css/related-posts-two.css") }}">
        {% endif %}
    {% endif %}
{% endif %}