{% macro content_links() %}
    <div class="flink" id="banners">
        <div class="banners-title">
            <div class="banners-title-small">{{ config.extra.friend.small_title }}</div>
            <div class="banners-title-big">{{ config.extra.friend.big_title }}</div>
        </div>
        <div class="banner-button-group">
            <a class="banner-button secondary" onclick="travelling()" rel="external nofollow noopener noreferrer">
                <i class="icon-paper-plane1"></i>
                <span class="banner-button-text">随机访问</span>
            </a>
            <a class="banner-button" href="#post-comment">
                <i class="icon-link"></i>
                <span class="banner-button-text">申请友链</span>
            </a>
        </div>
        <div class="tags-group-all nowrapMove">
            <div class="tags-group-wrapper" id="tags-group-wrapper">
                {# Dynamic content will be injected here by JavaScript #}
            </div>
        </div>
    </div>

    <div class="flink" id="friend-container">
        <div id="friend-groups">
            {# Dynamic content will be injected here by JavaScript #}
        </div>
    </div>

    <script async data-pjax src="{{ macro::get_production_path(path="/js/friend.js") }}"></script>
{% endmacro %}