{% import "macro/pagination.html" as macro_page %}

{% set section = get_section(path="articles/_index.md", lang=lang) %}
{% set posts = section.pages %}

{% macro post_list(_path) %}
    <div class="recent-posts" id="recent-posts">
        <!-- card，需要添加在没有图片时使用随机图片 -->
        {% set index = 0 %}
        {% for post in paginator.pages %}
            <div class="recent-post-item {{ config.extra.layout.post.columns }} {{ config.extra.layout.post.cover_position }} {% if index % 2 == 0 %}even{% else %}odd{% endif %} {% if post.pinned %}pinned-post-item{% endif %}"
                 onclick="pjax.loadUrl('{{ post.permalink }}')">

                <div class="post_cover left_radius">
                    <a title="{{ post.title }}" href="{{ post.permalink }}">
                        {{ macro::img_progressive_loading_post_cover(post=post, class="post_bg") }}
                    </a>
                </div>
                <div class="recent-post-info">
                    <div class="recent-post-info-top">
                        <div class="recent-post-info-top-tips">
                            {% set post_categories = post.taxonomies | get(key="categories") %}
                            {% if post_categories %}
                                {% for category in post_categories %}
                                    {% set category_url = get_taxonomy_url(kind="categories", name=category, lang=lang) %}
                                    <span href="{{ category_url }}"
                                          title="{{ macro::category_name(category=category) }}"
                                          class="original">{{ macro::category_name(category=category) }}</span>
                                {% endfor %}
                            {% endif %}
                            <a class="unvisited-post" href="{{ post.permalink }}" title="{{ post.title }}"
                               >未读</a>
                        </div>
                        <a class="article-title" title="{{ post.title }}" href="{{ post.permalink }}">
                            {{ post.title }}
                        </a>
                        <div class="content">{{ post.summary }}</div>
                    </div>

                    <div class="article-meta-wrap">
                        {% set post_tags = post.taxonomies | get(key="tags") %}
                        {% if post_tags %}
                            <span class="article-meta tags">
                                {% for tag in post_tags %}
                                    {% set tag_url = get_taxonomy_url(kind="tags", name=tag, lang=lang) %}
                                    <a class="article-meta__tags" event.cancelbubble onclick="window.event.cancelBubble=!0"
                                       href="{{ tag_url }}"
                                       title="{{ macro::tag_name(tag=tag) }}">
                                        <span class="tags-punctuation">{{ macro::tag_name(tag=tag) | trim }}</span>
                                    </a>
                                {% endfor %}
                            </span>
                        {% endif %}
                        {% set now = now() | date(format="%s") | int %}
                        {% set publish_before = post.date | date(format="%s") | int %}
                        {% set publish_date = post.date | date(format='%Y-%m-%d') %}
                        {% set days = (now - publish_before) / 86400 | round %}
                        <span class="post-meta-date">
                            <i class="far fa-calendar-alt"></i>
                            {% if days > 30 %}
                                <time style="display: inline;" datetime="{{ post.date }}"
                                      title="{{ post.date | date(format='%Y-%m-%d') }}创建">
                                    {{ post.date | date(format="%Y-%m-%d") }}
                                </time>
                            {% elif days > 0 %}
                                <time style="display: inline;" datetime="{{ post.date }}"
                                      title="{{ post.date | date(format='%Y-%m-%d') }}创建">
                                    {% if days == 0 %}
                                    今天
                                    {% else %}
                                    {{ days }}天前
                                    {% endif %}
                                </time>
                            {% else %}
                                <time style="display: inline;" datetime="{{ post.date }}"
                                      title="{{ post.date | date(format='%Y-%m-%d') }}创建">
                                    最近
                                </time>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            {% set_global index = index + 1 %}
        {% endfor %}

        <!-- 分页 -->
        {{ macro_page::pagination(path=_path, is_index=false, _param='') }}
    </div>
{% endmacro %}